aiohttp==2.3.10
aiohttp-jinja2==0.16.0
aiosocks==0.2.6
lxml==4.3.1
fake-useragent
jinja2~=2.11.2
peewee-async==0.5.12
aiopg==0.16.0
recommonmark~=0.7.1
sphinx_rtd_theme
sphinx
py_mini_racer
pytest~=6.2.1
pytest-asyncio
termcolor~=1.1.0
uvloop
geoip2~=4.1.0
bs4~=0.0.1

peewee~=2.10.2
setuptools~=51.3.3
Js2Py~=0.70
beautifulsoup4~=4.9.3
dateparser